
<!DOCTYPE html>
<html lang="en">
<head>
<title>LOGIN</title>
 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Business Login Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
   

	<link rel="stylesheet" href="https://cbih.org/assets/plugins/bootstrap/css/bootstrap.min.css"/>
    <!-- FontAwesome -->
	<link rel="stylesheet" href="https://cbih.org/assets/plugins/fontawesome/css/font-awesome.min.css"/>
    <!-- Animate -->
	<link rel="stylesheet" href="https://cbih.org/assets/plugins/animate/animate.min.css"/>
    <!-- Popup -->
	<link rel="stylesheet" href="https://cbih.org/assets/plugins/magnific-popup/magnific-popup.min.css"/>
    <!-- FancyBox -->
	<link rel="stylesheet" href="https://cbih.org/assets/plugins/fancybox/jquery.fancybox.min.css"/>
	<!-- OwlCarousel -->
	<link rel="stylesheet" href="https://cbih.org/assets/plugins/owlcarousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="https://cbih.org/assets/plugins/owlcarousel/assets/owl.theme.default.min.css">
    <!-- External fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans" rel="stylesheet">
    <!-- Main stylesheet -->
	<link rel="stylesheet" href="https://cbih.org/assets/css/style.min.css" />

	
	
	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link href="/css/font-awesome.min.css" rel="stylesheet"  media="all">
	<link href="/css/style.css" rel="stylesheet"  media="all"/>	
    
</head>
<body>
    
		<header>
                <div id="pre_header">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <i class="fa fa-phone" aria-hidden="true"></i> (0034) 930 186 920 
                                <i class="fa fa-phone" aria-hidden="true"></i> 00353 (1) 906 9252 
                                <span class="no-mobile"><a href="mailto:info@cbih.org"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@cbih.org</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <nav>
                    <div class="container">
                        <a id="logo" href="https://cbih.org/"><img src="https://cbih.org/assets/img/cbih.png" alt="Cross Border Irish Health Programme | CBIH" title="Cross Border Irish Health Programme | CBIH"></a>
                        <button class="menu-toggle" type="button" aria-label="Toggle navigation">
                            Menu <i class="fa fa-bars"></i>
                        </button>
                        <div class="main-navbar">
                            <ul>
                                <li class="nav-item"><a href="https://cbih.org/en/" >Home</a></li>
                                <li class="nav-item"><a href="https://cbih.org/en/cross-border-health/" >Services</a></li>
                                <li class="nav-item"><a href="https://cbih.org/en/application/" >How to apply</a></li>
                                <li class="nav-item"><a href="https://cbih.org/en/about-us/" >About us</a></li>
                                <li class="nav-item"><a href="https://cbih.org/en/faqs/" >Faqs</a></li>
                                <li class="nav-item"><a href="https://cbih.org/en/contact-us/" class="active">Contacts</a></li>
                                <li class="nav-item boxed"><a href="https://cbih.org/en/online-application/" >Online application</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>	
<br>
<br><br><br>

<div class="signupform">
	<div class="container">
	
		<div class="agile_info">
			<div class="w3l_form">
				<div class="left_grid_info">
					<h1>Manage Your Account</h1>
					
					<img src="/images/image.jpg" alt="" />
				</div>
			</div>
			<div class="w3_info">
				<h2>Login to your Account</h2>
				<p>Enter your details to login.</p>
				<form action="#" method="post">
					<label>Email Address</label>
					<div class="input-group">
						<span class="fa fa-envelope" aria-hidden="true"></span>
						<input type="email" placeholder="Enter Your Email" required=""> 
					</div>
					<label>Password</label>
					<div class="input-group">
						<span class="fa fa-lock" aria-hidden="true"></span>
						<input type="Password" placeholder="Enter Password" required="">
					</div> 
					<div class="login-check">
						 <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Remember me</label>
					</div>						
						<button class="btn btn-danger btn-block" type="submit">Login</button >                
				</form>
				<p class="account">By clicking login, you agree to our <a href="#">Terms & Conditions!</a></p>
				<p class="account1">Dont have an account? <a href="#">Register here</a></p>
			</div>
		</div>
	
	</div>
	
</div>

</body>
</html>