<!DOCTYPE html>
<html>
<head>
<title>Registration</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="script.js"></script>

<link rel="stylesheet" href="https://cbih.org/assets/plugins/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet"  href="/registration.css"> 

    <!-- FontAwesome -->
	<link rel="stylesheet" href="https://cbih.org/assets/plugins/fontawesome/css/font-awesome.min.css"/>
    <!-- Animate -->
	<link rel="stylesheet" href="https://cbih.org/assets/plugins/animate/animate.min.css"/>
    <!-- Popup -->
	<link rel="stylesheet" href="https://cbih.org/assets/plugins/magnific-popup/magnific-popup.min.css"/>
    <!-- FancyBox -->
	<link rel="stylesheet" href="https://cbih.org/assets/plugins/fancybox/jquery.fancybox.min.css"/>
	<!-- OwlCarousel -->
	<link rel="stylesheet" href="https://cbih.org/assets/plugins/owlcarousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="https://cbih.org/assets/plugins/owlcarousel/assets/owl.theme.default.min.css">
    <!-- External fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans" rel="stylesheet">
    <!-- Main stylesheet -->
	<link rel="stylesheet" href="https://cbih.org/assets/css/style.min.css" />
    

<body>
        <header>
                <div id="pre_header">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <i class="fa fa-phone" aria-hidden="true"></i> (0034) 930 186 920 
                                <i class="fa fa-phone" aria-hidden="true"></i> 00353 (1) 906 9252 
                                <span class="no-mobile"><a href="mailto:info@cbih.org"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@cbih.org</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <nav>
                    <div class="container">
                        <a id="logo" href="https://cbih.org/"><img src="https://cbih.org/assets/img/cbih.png" alt="Cross Border Irish Health Programme | CBIH" title="Cross Border Irish Health Programme | CBIH"></a>
                        <button class="menu-toggle" type="button" aria-label="Toggle navigation">
                            Menu <i class="fa fa-bars"></i>
                        </button>
                        <div class="main-navbar">
                            <ul>
                                <li class="nav-item"><a href="https://cbih.org/en/" >Home</a></li>
                                <li class="nav-item"><a href="https://cbih.org/en/cross-border-health/" >Services</a></li>
                                <li class="nav-item"><a href="https://cbih.org/en/application/" >How to apply</a></li>
                                <li class="nav-item"><a href="https://cbih.org/en/about-us/" >About us</a></li>
                                <li class="nav-item"><a href="https://cbih.org/en/faqs/" >Faqs</a></li>
                                <li class="nav-item"><a href="https://cbih.org/en/contact-us/" class="active">Contacts</a></li>
                                <li class="nav-item boxed"><a href="https://cbih.org/en/online-application/" >Online application</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>	
<br><br><br><br><br><br><br>

<form action='/sign_up' method="POST" id="reg" autocomplete="off">
    <font size="8">Registration Form</font><br><br>    
   
    <% if(error_msg != ''){ %> 
        <div  class="alert alert-danger"><%=error_msg%></div>
        <%}%>        


<label><font size="4">Full Name</font><input type="text" name="Name" id="button" placeholder="Full Name"><br>
<label><font size="4">Date Of Birth</font><input type="date" name="Birthdate" id="button" placeholder="Birthdate" ><br> 
<label><font size="4">Phone number</font><input type="text" name="Phone" id="button" placeholder="Phone"><br> 
<label><font size="4">Email Id</font><input type="text" name="Email" id="button" placeholder="Email"><br> 
<label><font size="4">Password</font> <input type="password" name="Password" id="button" placeholder="Password"><br>
<label><font size="4">Retype Password</font><input type="password" name="Passwordtwo" id="button" placeholder="Retype Password"><br><br>
    <label id="gender"><font size="4">Gender</font>
<input type="radio" name="gender" value="m"  id="rd"><font size="4">Male</font> 

<input type="radio" name="gender" id="rd" value="f"><font size="4">Female</font> 

<input type="radio" name="gender" id="rd" value="o"><font size="4">Other</font>
<br><br><br>

<input type="submit" id="but" ><br>
<br>
<input type="reset" id="but1">

<br><br>

<a href="Contact.html"><font size="4">Contact us</font></a><br> 
</form>

</body>
</head>

</html>
