<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

    <style>
            .navlinks{
                color:red;
              
                
                font-size: 20px;   
            }
            .navitems:hover{
                border-bottom: red solid 1px;
            }
            .navitems{
                margin-right:20px; 
                padding-bottom: 10px;
            }
            @media screen and (min-width: 800px) {
              .media-dependent {
                margin-left:25%;
              }
            }
            #logo{
                display: block;
                float: left;
                width: 100px;
                height: 100px;
                margin: 5px 0;
                margin-right:50px;
            }</style>
</head>
<body>
        <header style="background: rgba(255, 255, 255, 0.8);">  
           
                
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" id="logo" href="/"><img src="https://cbih.org/assets/img/cbih.png" alt="Cross Border Irish Health Programme | CBIH" title="Cross Border Irish Health Programme | CBIH">
                        
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                      
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                        <li class="nav-item navitems active">
                                          <a class="nav-link navlinks" href="/" style="color:red">Home <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item navitems ">
                                          <a class="nav-link navlinks" href="/en/cross_border_health" style="color:red">Services</a>
                                        </li>
                                        <li class="nav-item navitems ">
                                          <a class="nav-link navlinks" href="/en/application" style="color:red">How to Apply</a>
                                        </li>
                                        <li class="nav-item navitems ">
                                                <a class="nav-link navlinks" href="/en/about_us" style="color:red">About Us</a>
                                              </li>
                                              <li class="nav-item navitems ">
                                                    <a class="nav-link navlinks" href="/en/faqs" style="color:red">Faqs</a>
                                                  </li>
                                                  <li class="nav-item navitems ">
                                                        <a class="nav-link navlinks" href="/en/contact_us" style="color:red">Contacts</a>
                                                      </li>
                
                                                      <li class="nav-item" id='but'>
                                                            <a class="btn btn-warning  my-2 my-sm-0" href="/login">Login</a>
                                                          </li>
                                                    
                                      </ul>
                          
                        </div>
                      </nav>
           </header>
<br><br>
           <h4 class="ml-4" style="color:blue">We will contact you  via email or phone for furthur verification</h4>
</body>
</html>